.places-list {
  .place-info {
    margin: 10px 0;
    padding: 20px;
    box-shadow: -2px 14px 20px 0px rgba(0, 0, 0, 0.1);

    &__body {
      padding: 0;
      padding-top: 10px;
    }
  }

  .embla {
    border-radius: 5px;
    overflow: hidden;
  }
  .embla__slide__inner {
    height: 7rem;
  }
}
