// .place &.place-row
// =
// .place.place-row
//
// .place{
// width: 100%;
//
//   &__row {
//      width: 80%;
//   }
// }
//  VVVVVVVVVV
//
// .place: { width: 100%; }
// .place__row { width: 80% }
//
// <div class="place">
//   <img class="place__img"/>
// </div>
//

.place-info__row {
  display: flex;
}

.place-info__overview {
  flex: 0 0 70%;
}
.place-info__overview {
  flex: 0 0 80%;
}

.place-info__row {
  h3 {
    color: #f96e46;
    margin: 40px 20px 10px;
    text-align: start;
  }
  h5 {
    text-align: start;
    margin-left: 20px;
    font-weight: lighter;
  }
}
.suggestions-num-wrapper {
  align-self: center;
}
.place-info__images-wrapper {
  display: flex;
  justify-content: space-evenly;
  height: 100px;
  img {
    height: 100%;
    width: auto;
    max-width: inherit;
  }
  margin-bottom: 20px;
}

.place {
  padding: 20px;
}

.place-owner {
  display: flex;

  &__img-wrapper {
    flex: 0 0 30%;
  }
}

.place-info__owner {
  flex-direction: column;
}
