.sign-in-page {
  display: flex;
  flex-direction: column;
  margin: 15px;
  background-color: #f96e46;
  height: 100%;
  margin: 0px;
  .sign-in-title {
    color: #f3f3f4;
    margin-top: 30px;
    margin-bottom: 40px;
    padding: 30px;
    > h1 {
      line-height: 20px;
      text-align: start;
    }
  }
  .sign-up-title {
    color: #f3f3f4;
    padding: 30px;
    > h2 {
      line-height: 20px;
      text-align: inherit;
    }
  }
  .input-group {
    display: flex;
    flex-direction: column;
    margin: 15px;
    > input {
      width: 90%;
      height: 35px;
      border: none;
      border-radius: 5px;
      margin: 0 auto;
      text-align: center;
      box-shadow: 0px 5px 5px 0px rgba(52, 49, 45, 0.3);
    }
    > label {
      font-size: larger;
      font-weight: bolder;
      margin: 0px 20px 10px;
      display: flex;
      justify-content: flex-start;
      color: #34312d;
    }
  }
  .sign-button {
    padding: 10px 50px;
    border-radius: 10px;
    border: 0px;
    box-shadow: 0px 5px 5px 0px rgba(52, 49, 45, 0.3);
    background-color: #f3f3f4;
    color: #34312d;
  }
}
