$font-sans: 'Helvetica Neue', Helvetica, Arial, sans-serif;

body {
  font-family: 'Hind', sans-serif;
}

.heading {
  font-family: 'Montserrat', sans-serif;
}

.heading {
  &--1 {
    font-size: 2rem;
    font-weight: 600;
  }
  &--2 {
    font-size: 1.8rem;
    font-weight: 600;
  }
  &--3 {
    font-size: 1.6rem;
    font-weight: 600;
  }
}

.category {
  color: $color-gray-dark-2;
}

.capitalize {
  text-transform: capitalize;
}

.heading {
  color: $color-gray-dark-3;
  &--1 {
    font-size: 1.4rem;
    font-weight: 600;
  }
  &--2 {
  }
  &--3 {
  }
  &--4 {
  }
  &--5 {
  }
}

section > .heading {
  &--1 {
    font-size: 1.2rem;
  }
}
