$font-sans: 'Helvetica Neue', Helvetica, Arial, sans-serif;

body {
  font-family: 'Montserrat', sans-serif;
}

.heading {
  &--1 {
    font-size: 2rem;
    font-weight: 600;
  }
}

.category {
  line-height: 1.5;
  font-size: 0.9rem;
  padding: 0px 8px;
  border-radius: 10px;
  background-color: $color-complement;
  margin-bottom: 10px;
}

.capitalize {
  text-transform: capitalize;
}
