$font-sans: 'Helvetica Neue', Helvetica, Arial, sans-serif;

body {
  font-family: 'Montserrat', sans-serif;
}

.heading {
  &--1 {
    font-size: 2rem;
    font-weight: 600;
  }
}

.category {
  color: $color-gray-dark-2;
}

.capitalize {
  text-transform: capitalize;
}

.place,
.place-preview {
  .heading {
    color: $color-gray-dark-3;
    font-size: 1.4rem;
    font-weight: 600;
  }
}
