.u-center-text {
  text-align: center !important;
}

.u-margin-bottom-xxsmall {
  margin-bottom: 0.5rem !important;
}
.u-margin-bottom-xsmall {
  margin-bottom: 1rem !important;
}
.u-margin-bottom-small {
  margin-bottom: 1.5rem !important;
}
.u-margin-bottom-medium {
  margin-bottom: 4rem !important;

  @include respond(tab-port) {
    margin-bottom: 3rem !important;
  }
}
.u-margin-bottom-big {
  margin-bottom: 8rem !important;

  @include respond(tab-port) {
    margin-bottom: 5rem !important;
  }
}

.u-margin-left-xsmall {
  margin-left: 0.5rem !important;
}
.u-margin-left-small {
  margin-left: 1rem !important;
}
.u-margin-left-medium {
  margin-left: 2rem !important;

  @include respond(tab-port) {
    margin-left: 1.5rem !important;
  }
}
.u-margin-left-big {
  margin-left: 4rem !important;

  @include respond(tab-port) {
    margin-left: 5rem !important;
  }
}

.u-margin-right-xsmall {
  margin-right: 0.5rem !important;
}
.u-margin-right-small {
  margin-right: 1rem !important;
}
.u-margin-right-medium {
  margin-right: 2rem !important;

  @include respond(tab-port) {
    margin-right: 1.5rem !important;
  }
}
.u-margin-right-big {
  margin-right: 4rem !important;

  @include respond(tab-port) {
    margin-right: 5rem !important;
  }
}

.u-margin-top-xxsmall {
  margin-top: 0.5rem !important;
}
.u-margin-top-xsmall {
  margin-top: 1rem !important;
}
.u-margin-top-small {
  margin-top: 1.5rem !important;
}
.u-margin-top-medium {
  margin-top: 4rem !important;
}
.u-margin-top-big {
  margin-top: 8rem !important;
}
.u-margin-top-huge {
  margin-top: 10rem !important;
}

.flex {
  display: flex;
}

.flex-center-both {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-v {
  flex-direction: column;
}

.u-align-l {
  text-align: left;
}
.u-align-c {
  text-align: center;
}

.u-border-radius-50 {
  border-radius: 50%;
}
