// Colors
$color-primary: #00a37f;
$color-primary-light-1: #48bba1;
$color-primary-light-2: #26aa8c;
$color-primary-dark-1: #007f62;
$color-primary-dark-2: #00644d;

$color-secondary: #f9973d;
$color-secondary-light-1: #ffc463;
$color-secondary-light-2: #ffb438;
$color-secondary-dark-1: #c57b00;
$color-secondary-dark-2: #9a6000;

$color-terciary: #ef0026;
$color-terciary-light-1: #f45f76;
$color-terciary-light-2: #f23553;
$color-terciary-dark-1: #ba001d;
$color-terciary-dark-2: #920017;

$color-complement: #fd6100;
$color-complement-light-1: #ff9f63;
$color-complement-light-2: #ff8438;
$color-complement-dark-1: #c54b00;
$color-complement-dark-2: #9a3b00;

// Grays
$color-gray: #f8f8f8;
$color-gray-light-1: #f7f7f7;
$color-gray-light-2: #eeeeee;

$color-gray-dark: #798897;
$color-gray-dark-2: #999;
$color-gray-dark-3: rgb(71, 71, 71);

$color-white: #fff;
$color-black: #000;

// Layout variables
$header-height: 4rem;
$navbar-height: 4rem;
$place-mini-height: 18rem;

// Font sizes
$default-font-size: 1.6rem;

// Grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
$border-radius-small: 3px;
