.form {
  input,
  select,
  textarea {
    width: 100%;
    height: 35px;
    border: none;
    border-radius: 5px;
    margin: 0 auto;
    text-align: center;
    box-shadow: 0px 5px 5px 0px rgba(52, 49, 45, 0.3);
  }

  textarea {
    height: 150px;
    padding: 10px;
    text-align: left;
  }

  label {
    font-size: larger;
    font-weight: bolder;
    margin: 0px 20px 10px;
    display: flex;
    justify-content: flex-start;
    color: #34312d;
  }

  > *:not(:last-child) {
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 600px) {
  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.form-section-title {
  color: #f3f3f4;
  margin-bottom: 0px;
  > h1 {
    line-height: 35px;
    text-align: start;
  }
}

.form-create-place,
.form-profile {
  width: 90%;
  margin: 0 auto;
}

.schedule-inputs-wrapper {
  &__section {
    display: flex;

    > * {
      flex: 0 0 48%;
    }

    > *:not(:last-child) {
      margin-right: 4%;
    }

    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
}

.input-group,
.input-name,
.input-category {
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 600px) {
  .input-group {
    width: 90%;
    margin: 0 auto;
  }
}

.user-profile-picture {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px 20px;
}
.image-cropper,
.image-input {
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 50%;
  box-shadow: 0px 5px 5px 0px rgba(52, 49, 45, 0.3);
  .profile-pic {
    display: flex;
    padding: 20px auto;
    height: 100%;
    width: auto;
  }
}

.sign-button {
  padding: 10px 50px;
  border-radius: 10px;
  border: 0px;
  box-shadow: 0px 5px 5px 0px rgba(52, 49, 45, 0.3);
  background-color: #f3f3f4;
  color: #34312d;
  margin-top: 20px;
  margin-bottom: 20px;
}

.react-datepicker-wrapper {
  display: block !important;
}

// .input-hidden {
//   height: 0;
//   border: 1px solid transparent;
//   transition: all 0.2s;
//   padding: 0;
//   width: 100%;
// }

// .input-expanded {
//   height: 25px;
//   border: 1px solid black;
//   padding: 5px 10px;
// }

.map-inputs {
  display: flex;
  flex-direction: column;
  width: 100%;

  .search {
    margin-bottom: 10px;
  }
}
