.home-map {
  > *:first-child {
    height: calc(100vh - #{$navbar-height}) !important;
  }
}

.signup-page .map .gmnoprint {
  display: none;
}

.search-bar {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;

  background-color: white;
  padding: 15px 0;

  transition: all 0.4s ease;

  &__icon {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translatey(-50%);
  }

  &__title {
    font-size: 1.2rem;
    color: $color-primary;
  }

  &__input-wrapper {
    width: 60%;
  }

  .input-expanded {
    margin-top: 5px;
  }
}
