.form {
  .input-group,
  .input-name,
  .input-category,
  .search {
    display: flex;
    flex-direction: column;
    margin: 15px;
  }
  .sign-button {
    padding: 10px 50px;
    border-radius: 10px;
    border: 0px;
    box-shadow: 0px 5px 5px 0px rgba(52, 49, 45, 0.3);
    background-color: #f3f3f4;
    color: #34312d;
    margin-top: 50px;
    margin-bottom: 30px;
  }
}
#input-category,
.schedule-inputs-wrapper select,
.schedule-inputs-wrapper input,
.PhoneInputInput,
.react-datepicker-ignore-onclickoutside {
  width: 90%;
  height: 35px;
  border: none;
  border-radius: 5px;
  margin: 0 auto;
  text-align: center;
  box-shadow: 0px 5px 5px 0px rgba(52, 49, 45, 0.3);
}
.input-group {
  label {
    font-size: larger;
    font-weight: bolder;
    margin: 0px 20px 10px;
    display: flex;
    justify-content: flex-start;
    color: #34312d;
  }
  textarea {
    width: 90%;
    height: 150px;
    border: none;
    border-radius: 5px;
    margin: 0 auto;
    text-align: center;
    box-shadow: 0px 5px 5px 0px rgba(52, 49, 45, 0.3);
  }
}
.schedule-inputs-wrapper {
  > div {
    display: flex;
    flex-direction: column;
    label {
      font-size: larger;
      font-weight: bolder;
      margin: 20px 20px 10px;
      display: flex;
      justify-content: flex-start;
      color: #34312d;
    }
  }
}
