.form {
  .user-profile-picture {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px;
  }
  .image-cropper,
  .image-input {
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 50%;
    .profile-pic {
      display: flex;
      padding: 20px auto;
      height: 100%;
      width: auto;
    }
  }

  .input-group,
  .input-username,
  .input-group,
  .search {
    display: flex;
    flex-direction: column;
    > input {
      width: 90%;
      margin: 0 auto;
    }
  }
}

.map-input {
  background-color: #f96e46;
}
