.navbar {
  display: flex;
  justify-content: space-evenly;
  height: $navbar-height;
  width: 100%;
  padding: 0.7rem 0;
  position: fixed;
  bottom: 0;
  background-color: #0ba6a4;
  font-size: 0;

  @media screen and (min-width: 1280px) {
    top: 0;
    bottom: initial;
  }
}

.navbar-col {
  display: flex;
  flex-direction: column;
  flex: 0 0 calc(100% / 5);

  p {
    margin-top: 8px;
    font-size: 0.7rem;
    color: $color-white;
    font-weight: 200;
  }
}
